body {
    background-color: #EEEEEE;
}

h1 {
    color: #00ADB5;
}

h2 {
    color: #00ADB5;
}

h3 {
    color: #00ADB5;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #00ADB5;
    width: 10%;    
}